dataset
data_BR
__pycache__/utils.cpython-36.pyc
__pycache__/utils.cpython-38.pyc
__pycache__/viz_synth.cpython-36.pyc
__pycache__/viz_synth.cpython-38.pyc
data_BR/real/S103/p_select.p
data_BR/real/S103/participant_info_red.p
data_BR/real/S103/prescribed.p
data_BR/real/S104/p_select.p
data_BR/real/S104/participant_info_red.p
data_BR/real/S104/prescribed.p
data_BR/real/S107/p_select.p
data_BR/real/S107/participant_info_red.p
data_BR/real/S107/prescribed.p
data_BR/real/S114/p_select.p
data_BR/real/S114/participant_info_red.p
data_BR/real/S114/prescribed.p
data_BR/real/S118/p_select.p
data_BR/real/S118/participant_info_red.p
data_BR/real/S118/prescribed.p
data_BR/real/S121/p_select.p
data_BR/real/S121/participant_info_red.p
data_BR/real/S121/prescribed.p
data_BR/real/S130/p_select.p
data_BR/real/S130/participant_info_red.p
data_BR/real/S130/prescribed.p
data_BR/real/S134/p_select.p
data_BR/real/S134/participant_info_red.p
data_BR/real/S134/prescribed.p
data_BR/real/S140/p_select.p
data_BR/real/S140/participant_info_red.p
data_BR/real/S140/prescribed.p
data_BR/real/S141/p_select.p
data_BR/real/S141/participant_info_red.p
data_BR/real/S141/prescribed.p
data_BR/real/S145/p_select.p
data_BR/real/S145/participant_info_red.p
data_BR/real/S145/prescribed.p
data_BR/real/S151/p_select.p
data_BR/real/S151/participant_info_red.p
data_BR/real/S151/prescribed.p
data_BR/real/S163/p_select.p
data_BR/real/S163/participant_info_red.p
data_BR/real/S163/prescribed.p
data_BR/real/S165/p_select.p
data_BR/real/S165/participant_info_red.p
data_BR/real/S165/prescribed.p
data_BR/real/S170/p_select.p
data_BR/real/S170/participant_info_red.p
data_BR/real/S170/prescribed.p
data_BR/real/S179/p_select.p
data_BR/real/S179/participant_info_red.p
data_BR/real/S179/prescribed.p
data_BR/real/S184/p_select.p
data_BR/real/S184/participant_info_red.p
data_BR/real/S184/prescribed.p
data_BR/real/S187/p_select.p
data_BR/real/S187/participant_info_red.p
data_BR/real/S187/prescribed.p
data_BR/real/S188/p_select.p
data_BR/real/S188/participant_info_red.p
data_BR/real/S188/prescribed.p
data_BR/real/S196/p_select.p
data_BR/real/S196/participant_info_red.p
data_BR/real/S196/prescribed.p
data_BR/synth/train_rollpi_f_lay_set18to22_10000.p
data_BR/synth/crossed_legs/test_roll0_xl_f_lay_set1both_500.p
data_BR/synth/crossed_legs/test_roll0_xl_m_lay_set1both_500.p
data_BR/synth/crossed_legs/train_roll0_xl_f_lay_set2both_4000.p
data_BR/synth/crossed_legs/train_roll0_xl_m_lay_set2both_4000.p
data_BR/synth/general/test_rollpi_f_lay_set23to24_3000.p
data_BR/synth/general/test_rollpi_m_lay_set23to24_3000.p
data_BR/synth/general/test_rollpi_plo_f_lay_set23to24_3000.p
data_BR/synth/general/test_rollpi_plo_m_lay_set23to24_3000.p
data_BR/synth/general/train_rollpi_f_lay_set10to17_16000.p
data_BR/synth/general/train_rollpi_m_lay_set10to17_16000.p
data_BR/synth/general/train_rollpi_m_lay_set18to22_10000.p
data_BR/synth/general/train_rollpi_plo_f_lay_set10to17_16000.p
data_BR/synth/general/train_rollpi_plo_f_lay_set18to22_10000.p
data_BR/synth/general/train_rollpi_plo_m_lay_set10to17_16000.p
data_BR/synth/general/train_rollpi_plo_m_lay_set18to22_10000.p
data_BR/synth/general_supine/test_roll0_f_lay_set14_1500.p
data_BR/synth/general_supine/test_roll0_m_lay_set14_1500.p
data_BR/synth/general_supine/test_roll0_plo_f_lay_set14_1500.p
data_BR/synth/general_supine/test_roll0_plo_m_lay_set14_1500.p
data_BR/synth/general_supine/train_roll0_f_lay_set5to7_5000.p
data_BR/synth/general_supine/train_roll0_f_lay_set10to13_8000.p
data_BR/synth/general_supine/train_roll0_m_lay_set5to7_5000.p
data_BR/synth/general_supine/train_roll0_m_lay_set10to13_8000.p
data_BR/synth/general_supine/train_roll0_plo_f_lay_set5to7_5000.p
data_BR/synth/general_supine/train_roll0_plo_f_lay_set10to13_8000.p
data_BR/synth/general_supine/train_roll0_plo_m_lay_set5to7_5000.p
data_BR/synth/general_supine/train_roll0_plo_m_lay_set10to13_8000.p
data_BR/synth/hands_behind_head/test_roll0_plo_hbh_f_lay_set4_500.p
data_BR/synth/hands_behind_head/test_roll0_plo_hbh_m_lay_set1_500.p
data_BR/synth/hands_behind_head/train_roll0_plo_hbh_f_lay_set1to2_2000.p
data_BR/synth/hands_behind_head/train_roll0_plo_hbh_m_lay_set2pa1_2000.p
data_BR/synth/prone_hands_up/test_roll0_plo_phu_f_lay_set1pa3_500.p
data_BR/synth/prone_hands_up/test_roll0_plo_phu_m_lay_set1pa3_500.p
data_BR/synth/prone_hands_up/train_roll0_plo_phu_f_lay_set2pl4_4000.p
data_BR/synth/prone_hands_up/train_roll0_plo_phu_m_lay_set2pl4_4000.p
data_BR/synth/quick_test/test_rollpi_f_lay_set23to24_3000_qt_convnet_1_anglesDC_184000ct_128b_x1pm_tnh_clns10p_100e_2e-05lr.p
data_BR/synth/quick_test/test_rollpi_f_lay_set23to24_3000_qt_convnet_1_anglesDC_184000ct_128b_x5pm_tnh_clns10p_100e_00002lr.p
data_BR/synth/straight_limbs/test_roll0_sl_f_lay_set1both_500.p
data_BR/synth/straight_limbs/test_roll0_sl_m_lay_set1both_500.p
data_BR/synth/straight_limbs/train_roll0_sl_f_lay_set2pl3pa1_4000.p
data_BR/synth/straight_limbs/train_roll0_sl_m_lay_set2pa1_4000.p
docs/figures/front_synth_cut.png
docs/figures/front_synth_seg.png
docs/figures/front_synth.png
docs/figures/git_break1.JPG
docs/figures/git_break2.JPG
docs/figures/git_break3.JPG
docs/figures/git_break4.JPG
docs/figures/git_break5.JPG
docs/figures/git_break6.JPG
docs/figures/git_break7.JPG
docs/figures/git_break8.JPG
docs/figures/git_break9.JPG
docs/figures/git_break10.JPG
docs/figures/git_break11.JPG
docs/figures/git_break12.JPG
docs/figures/intro_overview.JPG
docs/figures/net1.png
docs/figures/net2_pmr.png
docs/figures/side_synth_cut.png
docs/figures/side_synth.png
docs/figures/viz_real_2D.png
docs/figures/viz_real_3D_1.png
docs/figures/viz_real_3D_2.png
docs/figures/viz_real_3D_3.png
